* { 
    margin      : 0;padding: 0;
    box-sizing  : border-box;
    transition  : all 0.5s linear;
}
body {
    font: 16px sans-serif;
    color: #fff;
    background: rgb(37, 1, 78);
}
main, header, nav, contenido, footer {
    display: flex;
    margin-bottom: 1em;
}

main, header, .logo, .titulo, nav, .item-menu,
.contenido, section, article, aside, footer, footer p {
    padding: 1em;
}

main, nav, contenido {
    flex-direction: column;
}

main {
    max-width: 100%;
    width: 96%;
    margin: 3% auto;
    background: black;
}

.logo { flex: 1; font: italic 1.5 em serif; }
.titulo { flex: 4;}

    nav {
        text-align: center;
    }
    .item-menu {
        box-shadow: 1px 1px 2px 1px #333;
        margin : 0.5em;
    }

footer {
    flex-direction: column;
}

ul { list-style: none;}

@media all and (min-width: 768px) {
main {
    max-width: 1000px;
    margin: 1% auto;
    background: rgba(0, 0, 255, 0.1);
}

nav, .contenido,footer { flex-direction: row;}
footer p {flex: 1;}
nav {
    justify-content: flex-end;
}

}
   